*,*::after,*::before {
  box-sizing: border-box;
}

body {
  margin:0;
  background-color:rgb(88, 88, 88);
  display:flex;
  justify-content: center;
}

@media only screen and (max-width:600px) {
  .calculator-container {
    height:100vh;
    width:100vw;
    margin:0;
    grid-template-rows:minmax(2rem,auto) repeat(5,6rem);
  }
}

@media only screen and (orientation:landscape) and (max-width:600px) {
  .calculator-container {
    height:100vh;
    width:100vw;
    grid-template-rows: minmax(1.5rem,auto) repeat(5,3.5rem);
    margin:0;
  }
}

@media only screen and (min-width:700px) {
  .calculator-container {
    height:90vh;
    width:26vw;
    margin-top:2rem;
    margin-left:10px;
    border:1px solid white;
    border-radius:3rem;
    grid-template-rows:minmax(2rem,auto) repeat(5,6rem);
  }
}

.calculator-container {
  display:grid;
  grid-template-columns: repeat(4,auto);
  background-color:black;
  padding:1rem;
}

.calculator-container > button {
  border-radius:100%;
  margin:5px;
  font-size:2rem;
  cursor:pointer;
}

.calculator-container > button:hover {
  background-color: white;
}

.output {
  grid-column:1/-1;
  display:flex;
  justify-content: flex-end;
  align-items:flex-end;
  padding:1.25rem;
}

.operand {
  color:white;
  font-size:3rem;
  font-family:Roboto;
}

.span-two {
  grid-column:span 2;
}

.span-two.dark-gray {
  border-radius:50px;
}

.light-gray {
  background-color:rgb(172, 170, 170);
  color:black;
}

.light-gray:hover,
.light-gray:focus {
  background-color: white;
  color:black;
}

.orange {
  background-color:rgb(251, 164, 2);
  color:white;
}

.orange:hover,
.orange:focus {
  background-color:white;
  color:rgb(251, 164, 2)
}

.dark-gray {
  background-color:rgb(69, 69, 69);
  color:white;
}

.dark-gray:hover,
.dark-gray:focus {
  background-color:white;
  color:rgb(69, 69, 69)
}
